name: Danger
on:
  pull_request:
    branches:
      - '**'
      - '!main'
jobs:
  danger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Danger
        uses: 417-72KI/danger-swiftlint@v5.9 # Xcode15ç³»
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }} # github token

